.vscode/**
.vscode-test/**
src/**
test/**
fixtures/**
scripts/**
out/**
node_modules/**
.github/**
ARCHITECTURE.md
.gitignore
.mocharc.json
esbuild.js
tsconfig.json
**/*.ts
**/*.map
.eslintrc.json
**/tsconfig.json
